[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/manual/*.md"
  [headers.values]
    Content-Type = "text/markdown; charset=utf-8"
